* {
  box-sizing: border-box;
}

.action {
  display: block;
  height: 100px;
  width: 500px;
  background: #191970;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  font-size 300%;
  line-height: 100px;
  font-family: Arial;
  border-radius: 20px;
  text-decoration: none;
}

body {
  background-color: #363636;
  color: #FFF;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #363636;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFF;
  color: #363636;
}

.contact {
  border-radius: 5px;
  background-color: #191970;
  padding: 20px;
}
